[Unit]
description = Set the alive pin for the evotrainer platform

[Service]
Type = oneshot
ExecStart = /bin/sh -c 'echo "22" >/sys/class/gpio/export && echo "out" >/sys/class/gpio/gpio22/direction && echo "1" >/sys/class/gpio/gpio22/value'


[Install]
WantedBy = multi-user.target
